* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: white;
}

h1,
h2,
h3,
h4,
p {
  font-family: "IBM Plex Mono";
  line-height: 160%;
}

h1,
h2,
h3,
h4 {
  padding: 12px 0;
}

.cover-section {
  background-color: #080808;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  margin: auto;
  box-sizing: border-box;
  background-color: #1b1b1b;
  border-radius: 0 0 8px 8px;

  padding: 25px 95px;
  max-width: 1110px;
  width: 100%;
}

.links-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;

  max-width: 717px;
}

.header-link {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;

  color: #9c9c9c;

  text-decoration: none;
}

.profile-set {
  display: flex;
  align-items: center;
  gap: 16px;

  max-width: 108px;
  width: 100%;
  justify-content: space-between;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 57px;

  padding: 80px 50px;
}

.persona-info {
  display: flex;
  max-width: 920px;
  width: 100%;
  gap: 32px;
  justify-content: space-between;
}

.active-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.persona-name {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-style: normal;

  font-size: 44px;

  color: #ffffff;

  text-shadow: 0 0 20px rgba(255, 0, 191, 0.5);
}

.persona-description {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal;

  color: #9c9c9c;
}

.persona-photo {
  min-width: 350px;
  min-height: 350px;
  width: 350px;
  height: 350px;

  border: 10px solid rgb(59, 38, 31);
  border-radius: 50%;
  box-sizing: border-box;

  background-image: url("./assets/images/profile.jpg");

  background-size: cover;
  background-position: center;

  box-shadow: 0 6px 100px 0px rgba(255, 112, 68, 0.4);
}

.worked-with {
  max-width: 920px;
  width: 100%;
  padding: 24px 0;
}

.worked-with-services {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 920px;

  gap: 8px;
  overflow-x: auto;
}

.worked-with-title {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  padding: 16px 0;
}

.case-studies-section {
  color: #000;
  max-width: 954px;
  width: 100%;
  padding: 120px 32px 60px 32px;
  margin: auto;
  box-sizing: border-box;
}

.case-studies-header {
  font-size: 34px;
  font-weight: 900;

  text-align: center;
}

.case-studies-description {
  font-size: 14px;
  font-weight: 400;
  color: #9c9c9c;

  max-width: 570px;
  width: 100%;
  margin: auto;

  text-align: center;
}

.case-studies {
  display: flex;
  flex-direction: column;

  padding: 60px 0;

  gap: 80px;
}

.case-study-content {
  display: flex;
  gap: 20px;

  align-items: center;
}

.case-study-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #9c9c9c;
}

.case-study-image {
  width: 445px;
  height: 300px;

  border-radius: 10px;
}

.view-case-button {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 24px;

  border: none;
  color: #fff;

  border-radius: 4px;
}

.orange-button {
  background-color: #ffa217;
}

.blue-button {
  background-color: #000aff;
}

.green-button {
  background-color: #2ab090;
}

.testimonials-section {
  padding: 120px 32px 80px 32px;
  background-color: #080808;
}

.testimonials-header {
  font-weight: 900;
  font-size: 34px;
  text-align: center;
}

.testimonials-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #9c9c9c;

  max-width: 570px;
  width: 100%;

  margin: auto;
  box-sizing: border-box;
}

.case-testimonials {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px 0;
  gap: 80px;

  box-sizing: border-box;

  max-width: 990px;
  margin: auto;
}

.testimonials-case-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #9c9c9c;
}

.case-testimonials-image {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}

.testimonials-content {
  max-width: 400px;
  width: 100%;

  border: 1px solid #484848;

  padding: 16px 16px;
  border-radius: 5px;

  box-sizing: border-box;
}

.work-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: calc(50% - 10px);
  box-sizing: border-box;
}

.testimonials-content::before {
  display: inline-block;
  font-family: "IBM Plex Mono";
  position: absolute;
  margin-left: -10px;
  margin-TOP: -40px;
  content: '"';
  font-weight: 900;
  font-size: 50px;
  color: white;
}

.client-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 32px 0 8px 0;

  font-family: "IBM Plex Mono";
  font-weight: 800;
  font-size: 18px;
  box-sizing: border-box;

  max-width: 990px;
  margin: auto;
}
.case-recent-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-wrapper2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 32px 0 8px 0;
}

.client-wrapper2 img {
  width: 100%;
  border-radius: 10px;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
}

.resent-work-header {
  font-family: "IBM Plex Mono";
  color: #000;
  font-weight: 900;
  font-size: 34px;
  text-align: center;
}

.recent-work-description {
  font-family: "IBM Plex Mono";

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #9c9c9c;

  max-width: 570px;
  width: 100%;

  text-align: center;

  margin: auto;
  box-sizing: border-box;
}

.resent-work-header2 {
  font-family: "IBM Plex Mono";
  color: #000;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

.work-name-description {
  font-family: "IBM Plex Mono";

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #9c9c9c;

  max-width: 570px;
  width: 100%;

  text-align: center;

  margin: auto;
  box-sizing: border-box;
}

.recent-work {
  display: flex;
  flex-direction: column;
  padding: 125px 0;
}

.get-in-touch {
  padding: 120px 32px 80px 32px;
  background-color: #000;
}

.last-header {
  font-weight: 900;
  font-size: 34px;
  text-align: center;
}
.last-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #9c9c9c;
  text-align: center;

  max-width: 570px;
  width: 100%;

  margin: auto;
  box-sizing: border-box;
}
.giga {
  background: #000;
}

form {
  font-family: "IBM Plex Mono";

  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #000;
  width: 100%;
  max-width: 350px;
  margin: auto;
}

label {
  font-family: "IBM Plex Mono";

  text-align: left;
  font-weight: bold;
  width: 100%;
  max-width: 350px;
  font-size: 12px;
  background-color: #000;
}

input,
textarea {
  font-family: "IBM Plex Mono";

  width: 100%;
  max-width: 350px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

textarea {
  height: 80px;
  resize: none;
}

button {
  font-family: "IBM Plex Mono";
  color: #ffffff;
  background-color: #3f8e00;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  width: 100%;
  max-width: 370px;
}

footer {
  padding: 26px;
  background-color: #1b1b1b;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 25px 50px;
  }
}

@media screen and (max-width: 800px) {
  .persona-info {
    flex-direction: column-reverse;
    align-items: center;
  }
  .header {
    justify-content: center;
  }

  .links-menu {
    display: none;
  }

  .case-testimonials {
    grid-template-columns: 1fr;
    width: max-content;
    max-width: 100%;
  }
  .case-recent-work {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .work-content {
    width: 100%;
  }
}
